/* blu maenet: #418ac8; */

section.calendario {
    margin-top: 20px;
}

    section.calendario div.row div.col-sm-3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
        border: 1px solid #418ac8;
    }

    section.calendario hr {
        width: 70%;
    }

    section.calendario .picker-switch, .dow {
        color: #418ac8;
    }

    section.calendario .active, .today::after {
        background-color: #418ac8;
    }

section.filter-container .filter {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.filter select {
    padding-left: 10px;
    padding-right: 10px;
}

.events-content ol li div.row div.col-sm-3 {
    padding-top: 10px;
    padding-right: 25px;
}

.events-content ol li div.row div.col-sm-9 {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 70px;
    border-left: 2px solid #418ac8;
    width: 70%;
}

.col-badge {
    position: absolute;
    left: 100%;
    width: 44px;
    height: 44px;
    border-radius: 30px;
    margin-left: -21px;
    background-color: #418ac8;
    top: 15px;
    display: flex;
    justify-content: center;
}

    .col-badge i {
        position: relative;
        color: white;
        font-size: 22px;
        top: 10px;
        z-index: 1;
    }

.input-async-abilitato {
    pointer-events: auto;
    cursor: pointer;
}

.input-async-disabilitato {
    pointer-events: none;
    cursor: default;
}

.scrollabile {
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
}

.evento-scheda {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

    .evento-scheda .evento-scheda-header {
        color: #418ac8;
    }

        .evento-scheda .evento-scheda-header .header-autore-tipo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .evento-scheda .evento-scheda-header .header-autore-tipo p {
                margin-bottom: 2px;
                color: #418ac8;
            }


        .evento-scheda .evento-scheda-header .header-titolo p:first-child {
            font-size: 1.3em;
            margin-bottom: 2px;
            color: #418ac8;
        }

        .evento-scheda .evento-scheda-header .header-titolo p.header-titolo-dalal {
            color: gray;
            font-style: italic;
            margin-bottom: 0px;
            font-weight: bold;
        }

        .evento-scheda .evento-scheda-header .header-titolo p.header-titolo-luogo {
            color: gray;
            font-style: italic;
            text-transform: uppercase;
        }

    .evento-scheda .evento-scheda-body {
        line-height: 27px;
        padding: 5px;
    }

        .evento-scheda .evento-scheda-body p:last-child {
            text-align: right;
            color: gray;
            margin-top: 10px;
        }

        .evento-scheda .evento-scheda-body .panel-group {
            width: 98%;
            margin-bottom: 3px;
        }

            .evento-scheda .evento-scheda-body .panel-group .panel-heading {
                padding: 0;
            }

    .evento-scheda .evento-scheda-footer .footer-link {
        margin-bottom: 6px;
    }

        .evento-scheda .evento-scheda-footer .footer-link a {
            margin-right: 10px;
        }

    .evento-scheda .evento-scheda-footer .footer-contatti {
        margin-bottom: 12px;
    }

        .evento-scheda .evento-scheda-footer .footer-contatti a {
            margin-right: 10px;
        }

    .evento-scheda .evento-scheda-footer .footer-btn-outlook {
        text-align: center;
    }

.evento-orario-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.evento-orario {
    color: #418ac8;
    font-size: 1em;
}

    .evento-orario i {
        color: #418ac8;
    }

.evento-info-aggiuntive {
    font-size: 0.8em;
    margin-top: 15px;
}

    .evento-info-aggiuntive p {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }

.evento-scheda .evento-scheda-body .panel-body {
    padding-left: 10px;
}

.evento-scheda-footer a i {
    color: #418ac8;
}

#datetimepicker .day.active {
    pointer-events: none;
}

#titleCalendarioEventi:hover {
    cursor: pointer;
    text-decoration: underline;
}

#datetimepicker .day:not(.disabled) {
    color: #3074AE;
    font-weight: bold;
}

#datetimepicker .day.active {
    color: white;
}
